---
- name: Install AppArmor
  when: ansible_distribution == "Debian" or ansible_distribution == "Kali"
  become: true
  ansible.builtin.apt:
    name: ['apparmor', 'apparmor-profiles', 'apparmor-utils']
    update_cache: true
  tags:
    - packages
# https://github.com/raspberrypi/linux/pull/1698
- name: Add lsm=apparmor to /boot/cmdline.txt (Raspberry Pi OS)
  ansible.builtin.replace:
    path: /boot/cmdline.txt
    # https://stackoverflow.com/a/61974725
    regexp: '^(.(?!.*\blsm=apparmor\b).*)$'
    replace: '\1 lsm=apparmor'
  become: true
  when: ansible_distribution == "Debian"
  tags: configuration
  register: result
  failed_when:
    - result.failed == true
    - '"does not exist !" not in result.msg'
# https://github.com/pyllyukko/harden.sh/wiki/AppArmor
- name: Enable extra profiles
  vars:
    apparmor_profiles:
      - usr.lib.firefox.firefox
      - usr.lib.firefox.firefox.sh
      - usr.lib.firefox.mozilla-xremote-client
      - etc.cron.daily.logrotate
      - etc.cron.daily.slocate.cron
      - etc.cron.daily.tmpwatch
      - sbin.dhclient-script
      - sbin.dhcpcd
      - usr.bin.passwd
      - usr.bin.wireshark
      - usr.sbin.dhcpd
      #- usr.sbin.sshd
      - usr.sbin.useradd
      - usr.sbin.userdel
  become: true
  when: ansible_distribution == "Debian" or ansible_distribution == "Kali"
  block:
    - name: Copy extra profiles
      ansible.builtin.copy:
        src: /usr/share/apparmor/extra-profiles/{{ item }}
        dest: /etc/apparmor.d/{{ item }}
        owner: root
        group: root
        mode: '0600'
        remote_src: true
      with_items: '{{ apparmor_profiles }}'
    - name: Enable extra profiles
      ansible.builtin.command: /usr/sbin/aa-enforce /etc/apparmor.d/{{ item }}
      with_items: '{{ apparmor_profiles }}'
      tags: configuration
      register: result
      changed_when: result.stdout | regex_search('^Setting .+ to enforce mode\.$')
