---
- name: CA certs
  become: true
  block:
    - name: Remove /etc/ssl/certs/ssl-cert-snakeoil.pem
      ansible.builtin.file:
        path: /etc/ssl/certs/ssl-cert-snakeoil.pem
        state: absent
      tags:
        - pki
        - configuration
      notify: "Run update-ca-certificates"
    - name: Install ca-certificates package (Debian)
      when: ansible_distribution == "Debian" or ansible_distribution == "Kali"
      ansible.builtin.apt:
        name: ca-certificates
        update_cache: true
      tags:
        - packages
        - pki
        - debian
    # This is because of Slackware.
    - name: Check if /etc/ca-certificates.conf has immutable attribute
      tags: check
      ansible.builtin.stat:
        path: /etc/ca-certificates.conf
      register: ca_certificates_conf_stat
    - name: Remove immutable attribute from /etc/ca-certificates.conf
      # This task is not idempotent, so we need this check for Molecule tests.
      when:
        - ca_certificates_conf_stat.stat.exists
        - ca_certificates_conf_stat.stat.attr_flags is defined
        - "'i' in ca_certificates_conf_stat.stat.attr_flags"
      ansible.builtin.file:
        path: /etc/ca-certificates.conf
        attributes: -i
    - name: Copy ca-certificates.conf
      when: ansible_os_family != "RedHat"
      ansible.builtin.copy:
        src: ca-certificates.conf.new
        dest: /etc/ca-certificates.conf
        owner: root
        group: root
        mode: '0644'
        backup: true
      tags:
        - configuration
        - pki
      notify: "Run update-ca-certificates"
    - name: Make /etc/ca-certificates.conf immutable
      when: ansible_virtualization_type != "docker"
      ansible.builtin.file:
        path: /etc/ca-certificates.conf
        attributes: +i
    - name: Install OpenSSL (Slackware)
      when: ansible_distribution == "Slackware"
      community.general.slackpkg:
        name: openssl
        state: present
        update_cache: true
      tags:
        - packages
        - slackware
