---
- name: Slackware hidepid=2
  become: true
  when: ansible_distribution == "Slackware"
  tags:
    - slackware
    - hidepid
  block:
    - name: getent group polkitd
      ansible.builtin.getent:
        database: group
        key: polkitd
    - name: Fix /etc/rc.d/rc.S to mount /proc with hidepid=2 (Slackware)
      ansible.builtin.replace:
        path: /etc/rc.d/rc.S
        regexp: '^(\s*/sbin/mount -v proc /proc -n -t proc).*$'
        replace: '\g<1> -o hidepid=2,gid={{ getent_group.polkitd[1] }} 2> /dev/null'
        validate: '/bin/grep "^\s*/sbin/mount -v proc /proc -n -t proc -o hidepid=2,gid={{ getent_group.polkitd[1] }} 2> /dev/null$" %s'
      tags: configuration
    - name: Fix mkinitrd so initrd image mounts with hidepid
      ansible.builtin.lineinfile:
        path: /sbin/mkinitrd
        insertbefore: '# Wrap the initrd as an initramfs image and move it into place:$'
        regexp: '^sed -i ''s:^\(mount -n proc /proc -t proc\)$:\\1 -o hidepid=2,gid={{ getent_group.polkitd[1] }}'' "${SOURCE_TREE}/init"$'
        line: sed -i 's:^\(mount -n proc /proc -t proc\)$:\1 -o hidepid=2,gid={{ getent_group.polkitd[1] }}:' "${SOURCE_TREE}/init"
      tags: configuration
#- name: Remount /proc with hidepid=2
#  become: true
#  mount:
#    path: /proc
#    opts: hidepid=2
#    state: mounted
#    src: proc
#    fstype: proc

# fstab
- name: Create /etc/fstab.new
  tags: fstab
  become: true
  block:
    - name: Create temp file for fstab.awk
      ansible.builtin.tempfile:
        state: file
        suffix: temp
      register: tempfile_1
    - name: Copy fstab.awk
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/legacy/libexec/fstab.awk"
        dest: "{{ tempfile_1.path }}"
        owner: root
        group: root
        mode: '0600'
    - name: Install Gawk
      when: ansible_distribution == "Debian" or ansible_distribution == "Kali GNU/Linux"
      ansible.builtin.apt:
        name: gawk
        update_cache: true
      tags:
        - packages
        - debian
    - name: Create /etc/fstab.new
      ansible.builtin.shell: gawk -f {{ tempfile_1.path }} /etc/fstab 1>/etc/fstab.new
      changed_when: true
    - name: Remove temp file
      ansible.builtin.file:
        path: "{{ tempfile_1.path }}"
        state: absent
# </fstab>

- name: Clean up /tmp during boot (Slackware)
  become: true
  when: ansible_distribution == "Slackware"
  tags:
    - configuration
    - slackware
  ansible.builtin.replace:
    path: /etc/rc.d/rc.S
    regexp: '^(rm -rf) /tmp/\{.+\}$'
    replace: 'shopt -s dotglob; \g<1> /tmp/*; shopt -u dotglob'
    validate: '/bin/grep "^shopt -s dotglob; rm -rf /tmp/\*; shopt -u dotglob$" %s'
- name: Clean up /tmp during boot (Debian)
  become: true
  when: ansible_distribution == "Debian"
  tags:
    - configuration
    - debian
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/newconfs/tmp.conf.new"
    dest: /etc/tmpfiles.d/tmp.conf
    mode: '0644'
    owner: root
    group: root

- name: Make Xorg rootless
  become: true
  when: ansible_distribution == "Slackware"
  tags:
    - permissions
    - slackware
  ansible.builtin.file:
    path: /usr/libexec/Xorg
    mode: '0755'
    owner: root
    group: root
  register: result
  failed_when:
    - result.failed == true
    - result.state != "absent"

- name: Chmod sensitive files
  become: true
  block:
    - ansible.builtin.import_tasks: filesystem-sudoers.yml
    - name: chmod wireless configurations
      ansible.builtin.file:
        path: /etc/{{ item }}
        mode: '0600'
        owner: root
        group: root
      with_items:
        - wpa_supplicant.conf
        - rc.d/rc.inet1.conf
        - rc.d/rc.wireless.conf
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags: permissions
    - name: chmod Kerberos keytab
      ansible.builtin.file:
        path: /etc/krb5.keytab
        mode: '0600'
        owner: root
        group: root
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags:
        - permissions
        - kerberos
    - name: chmod Kerberos KDC dir
      ansible.builtin.file:
        path: /var/kerberos/krb5kdc
        mode: '0700'
        owner: root
        group: root
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags:
        - permissions
        - kerberos
    - name: Install acl package (Slackware)
      when: ansible_distribution == "Slackware"
      slackpkg:
        name: acl
        state: present
      tags:
        - packages
        - slackware
    - name: Install acl package (Debian)
      when: ansible_distribution == "Debian"
      ansible.builtin.apt:
        name: acl
        state: present
      tags:
        - packages
        - debian
    # we don't want to mess with the group ownerships because these might be needed to be writable by utmp group
    - name: Grant group adm read rights on login records
      ansible.posix.acl:
        path: "{{ item }}"
        entity: adm
        etype: group
        permissions: r
        state: present
      with_items:
        - /var/log/lastlog
        - /var/log/btmp
        - /var/log/wtmp
      tags: permissions
    - name: chmod o-rwx /var/log/lastlog
      ansible.builtin.file:
        path: /var/log/lastlog
        mode: o-rwx
      tags: permissions
    - name: chmod & chown /var/log/wtmp
      ansible.builtin.file:
        path: /var/log/wtmp
        mode: '0660'
        owner: root
        group: utmp
      tags: permissions
    - name: chmod LDAP secrets
      ansible.builtin.file:
        path: "{{ item }}"
        mode: '0600'
        owner: root
        group: root
      with_items:
        # nss_ldap(5)
        - /etc/ldap.secret
        - /etc/libnss-ldap.secret
        # pam_ldap(5)
        - /etc/pam_ldap.secret
        - /etc/nslcd.conf
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags: permissions
    - name: chmod /etc/ssl/private
      ansible.builtin.file:
        path: /etc/ssl/private
        mode: o-rwx
        owner: root
      tags: permissions
    - name: chmod audit files
      ansible.builtin.file:
        path: "{{ item }}"
        mode: o-rwx
        owner: root
        group: root
      with_items:
        - /etc/audit
        - /var/log/audit
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags: permissions
    # Home directories
    - name: chmod /root
      ansible.builtin.file:
        path: /root
        mode: '0700'
        owner: root
        group: root
      tags: permissions
    - name: chmod Home dirs
      tags: permissions
      block:
        - name: getent passwd
          ansible.builtin.getent:
            database: passwd
        # https://www.debian.org/doc/manuals/securing-debian-manual/ch04s11.en.html#limit-user-perm
        - name: chmod home directories
          ansible.builtin.file:
            path: "{{ item.value[4] }}"
            mode: '0700'
          with_dict: "{{ getent_passwd }}"
          # UID_MIN & UID_MAX in /etc/login.defs
          when: item.value[1] | int >= 1000 and item.value[1] | int <= 60000
          register: result
          failed_when:
            - result.failed == true
            - result.state != "absent"
    # Stuff that is usually readable, but have no reason why they should be
    - name: chmod /etc/ssh/sshd_config
      ansible.builtin.file:
        path: /etc/ssh/sshd_config
        mode: '0600'
        owner: root
        group: root
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags: permissions
    - name: chmod boot loader configurations
      ansible.builtin.file:
        path: "{{ item }}"
        mode: og-rwx
        owner: root
        group: root
      with_items:
        - /etc/grub.d
        - /boot/grub/grub.cfg
        - /etc/default/grub
        - /etc/lilo.conf
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags: permissions
    - name: chmod /etc/modprobe.d
      ansible.builtin.file:
        path: /etc/modprobe.d
        mode: '0700'
        owner: root
        group: root
      tags: permissions
    # Slackware Linux Benchmark v1.1 - 4.1 Network Parameter Modifications, 4.2 Additional Network Parameter Modifications & SN.8 Additional Kernel Tunings
    - name: chmod sysctl configurations
      ansible.builtin.file:
        path: "{{ item }}"
        mode: o-rwx
      with_items:
        - /etc/sysctl.conf
        - /etc/sysctl.d
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags: permissions
    - name: chmod /etc/rc.d
      ansible.builtin.file:
        path: /etc/rc.d
        mode: '0700'
        owner: root
        group: root
      when: ansible_distribution == "Slackware"
      tags:
        - permissions
        - slackware
    # CIS Debian Linux 10 Benchmark v1.0.0
    #   5.1.2 Ensure permissions on /etc/crontab are configured
    #   5.1.3 Ensure permissions on /etc/cron.hourly are configured
    #   5.1.4 Ensure permissions on /etc/cron.daily are configured
    #   5.1.5 Ensure permissions on /etc/cron.weekly are configured
    #   5.1.6 Ensure permissions on /etc/cron.monthly are configured
    #   5.1.7 Ensure permissions on /etc/cron.d are configured
    - name: Restrict visibility to /etc/cron{tab,.{d,hourly,daily,weekly,monthly}/}
      ansible.builtin.file:
        path: /etc/{{ item }}
        mode: g-rwx,o-rwx
      with_items:
        - cron.d
        - cron.hourly
        - cron.daily
        - cron.weekly
        - cron.monthly
        - crontab
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags: permissions
    - name: chmod o-r /var/log
      ansible.builtin.file:
        path: /var/log
        # apps that have own accounts & directories under /var/log need the x-bit (like freerad in Debian)
        mode: '0751'
        owner: root
        group: adm
      tags: permissions
    # CIS Slackware Linux Benchmark v1.1 - 3.3 Disable GUI Login If Possible
    - name: chmod inittab
      when: ansible_distribution == "Slackware"
      ansible.builtin.file:
        path: /etc/inittab
        mode: '0600'
        owner: root
        group: root
      tags:
        - permissions
        - slackware
    # CIS Slackware Linux Benchmark v1.1 - 7.8 Restrict Root Logins To System Console
    - name: chmod /etc/securetty
      ansible.builtin.file:
        path: /etc/securetty
        mode: '0400'
        owner: root
        group: root
      # https://github.com/pyllyukko/harden.sh/issues/47
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags: permissions
    - name: Slackware pkgtools & sbopkg
      when: ansible_distribution == "Slackware"
      ansible.builtin.file:
        path: "{{ item }}"
        mode: '0750'
        owner: root
        group: adm
      with_items:
        - /var/log/pkgtools
        - /var/lib/pkgtools
        - /var/log/sbopkg
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags:
        - permissions
        - slackware
    # bzgrep 'var/log/.\+/$' MANIFEST.bz2
    - name: Slackware log dirs
      when: ansible_distribution == "Slackware"
      tags:
        - permissions
        - slackware
      ansible.builtin.file:
        path: /var/log/{{ item }}
        mode: '0750'
        owner: root
        group: adm
      with_items:
        - httpd
        - nfsd
        - cups
        - samba
        - sa
        - iptraf-ng
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
    - name: Slackware log dirs not owned by root
      when: ansible_distribution == "Slackware"
      ansible.builtin.file:
        path: /var/log/{{ item }}
        mode: o-rwx
      with_items:
        - icecream
        - uucp
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags:
        - permissions
        - slackware
    - name: /etc/httpd o-rx
      when: ansible_distribution == "Slackware"
      ansible.builtin.file:
        path: /etc/httpd
        mode: '0750'
        owner: root
        group: apache
      register: result
      failed_when:
        - result.failed == true
        - result.state != "absent"
      tags:
        - permissions
        - slackware
