---

# TCP wrappers
- name: Install TCP wrappers library and nftables (Debian)
  when: ansible_distribution == "Debian" or ansible_distribution == "Kali"
  become: true
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - libwrap0
      - nftables
  tags:
    - packages
    - network
    - firewall
    - services
    - debian
- name: 'TCP wrappers: create /etc/hosts.allow'
  become: true
  ansible.builtin.template:
    src: "{{ playbook_dir }}/templates/hosts.allow.j2"
    dest: /etc/hosts.allow
    owner: root
    group: root
    mode: '0644'
    backup: true
  tags: network
- name: 'TCP wrappers: create /etc/hosts.deny'
  become: true
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/newconfs/hosts.deny.new"
    dest: /etc/hosts.deny
    owner: root
    group: root
    mode: '0644'
    backup: true
  tags: network
# </TCP wrappers>

# Slackware firewall
- name: Stat /etc/rc.d/rc.firewall (Slackware)
  ansible.builtin.stat:
    path: /etc/rc.d/rc.firewall
  register: stat_result
  become: true
  when: ansible_distribution == "Slackware"
  tags:
    - services
    - permissions
    - network
    - firewall
    - slackware
    - check
- name: Firewall for Slackware
  become: true
  when: ansible_distribution == "Slackware" and not stat_result.stat.exists
  tags:
    - network
    - firewall
    - slackware
  block:
    - name: Install nftables (Slackware)
      community.general.slackpkg:
        name: '{{ item }}'
        state: present
      with_items:
        - nftables
        - jansson
        - libnftnl
      tags:
        - packages
        - slackware
    # https://wiki.nftables.org/wiki-nftables/index.php/Simple_ruleset_for_a_workstation
    # https://wiki.nftables.org/wiki-nftables/index.php/Simple_ruleset_for_a_server
    # The backup=true isn't really necessary here, as it won't be touched if it exists,
    # but we'll leave it here just in case and if the logic will be changed at some point :)
    - name: Create /etc/rc.d/rc.firewall (Slackware)
      ansible.builtin.template:
        src: "{{ playbook_dir }}/templates/rc.firewall-nft.j2"
        dest: /etc/rc.d/rc.firewall
        mode: '0700'
        backup: true
      tags:
        - services
        - slackware
    - name: Start Slackware firewall
      changed_when: true
      ansible.builtin.command: /etc/rc.d/rc.firewall start
      tags:
        - services
        - slackware
- name: Enable Slackware firewall
  when: ansible_distribution == "Slackware" and stat_result.stat.exists and not stat_result.stat.xusr
  ansible.builtin.file:
    path: /etc/rc.d/rc.firewall
    mode: '0700'
    owner: root
    group: root
  tags:
    - services
    - permissions
    - network
    - firewall
    - slackware
# </Slackware firewall>

# Debian firewall
- name: Firewall for Debian
  tags:
    - firewall
    - network
    - debian
  become: true
  when: ansible_distribution == "Debian" or ansible_distribution == "Kali"
  block:
    - name: Copy nftables.conf
      ansible.builtin.template:
        src: nftables.conf.j2
        dest: /etc/nftables.conf
        mode: '0600'
        backup: true
      tags: configuration
    - name: Activate firewall
      ansible.builtin.command: /usr/sbin/nft -f /etc/nftables.conf
      changed_when: true
    # https://wiki.debian.org/nftables#nftables_in_Debian_the_easy_way
    - name: Enable nftables
      tags: services
      ansible.builtin.systemd:
        name: nftables
        state: started
        enabled: true
# </Debian firewall>

- name: IPv6
  become: true
  tags:
    - network
    - configuration
    - ipv6
    - kernel
  block:
    - name: Blacklist IPv6 kernel module
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/newconfs/modprobe.d/ipv6.conf.new"
        dest: /etc/modprobe.d/ipv6.conf
        owner: root
        group: root
        mode: '0600'
    - name: Set ipv6.disable=1 in /boot/cmdline.txt (Raspberry Pi OS)
      ansible.builtin.replace:
        path: /boot/cmdline.txt
        regexp: '^(.(?!.*\bipv6\.disable=1\b).*)$'
        replace: '\1 ipv6.disable=1'
      when: ansible_distribution == "Debian"
      tags: debian
      register: result
      failed_when:
        - result.failed == true
        - '"does not exist !" not in result.msg'
    - name: Set ipv6.disable=1 in /etc/default/grub
      ansible.builtin.replace:
        path: /etc/default/grub
        regexp: '^(GRUB_CMDLINE_LINUX="(?!.*\bipv6\.disable=1\b).*)"$'
        replace: '\1 ipv6.disable=1"'
      when: ansible_distribution == "Debian" or ansible_distribution == "Kali" or ansible_os_family == "RedHat"
      notify: "Run update-grub"
      register: result
      failed_when:
        - result.failed == true
        - '"does not exist !" not in result.msg'
