^/usr/lib/debug/\.build-id$
^/usr/lib/libreoffice/share/\.registry$
^/usr/lib/jvm/\.java-1\.17\.0-openjdk-arm(64|hf)\.jinfo$
^/usr/lib/pypy/lib_pypy/ctypes_config_cache/\.empty$
^/usr/lib/python3/dist-packages/numpy/(core/include/numpy/\.doxyfile|f2py/tests/src/(f2cmap/\.f2py_f2cmap|assumed_shape/\.f2py_f2cmap))$
^/usr/lib/python3/dist-packages/matplotlib/tests/(tinypages/(_static/)?\.gitignore|baseline_images/\.keep)$
^/usr/lib/python3/dist-packages/matplotlib/backends/web_backend/\.(prettier(ignore|rc)|eslintrc\.js)$
^/usr/lib/ruby/gems/3\.1\.0/gems/typeprof-0\.21\.2/vscode/.(gitignore|vscode(ignore)?)$
^/usr/lib/ruby/vendor_ruby/rubygems/(optparse|ssl_certs|tsort)/\.document$
{% if getent_passwd.pihole is defined %}
^/dev/shm/FTL-(overTime|queries)$
{% endif %}
