[Service]
KeyringMode=private
MemoryDenyWriteExecute=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=read-only
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
LockPersonality=true
SystemCallArchitectures=native
RestrictNamespaces=true
#SystemCallLog=~@system-service
#SystemCallFilter=@system-service
PrivateTmp=true
RestrictSUIDSGID=true
#NoNewPrivileges=true
