name: lint
on:
  push:
  pull_request:
  schedule:
    - cron: "30 4 * * 0"

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          args: "./harden.yml"
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run yamllint
        run: |
          sudo apt-get update
          sudo apt-get install -y yamllint
          yamllint ./*.yml tasks/*.yml
  syntax-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run syntax-check
        run: ansible-playbook --syntax-check harden.yml
  gawk-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Gawk lint
        run: gawk -L -f files/fstab.awk 0</etc/fstab 1>/dev/null
