---
name: pam
on:
  push:
  pull_request:
  schedule:
    - cron: "30 4 * * 0"

env:
  ANSIBLE_FORCE_COLOR: '1'

jobs:
  # See https://github.com/pyllyukko/harden.yml/blob/master/tests/README.md#pamtester
  pamtester:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install pamtester and test prerequisites
        run: sudo apt-get install -y pamtester cron at
      - name: Test pre-harden
        run: |
          # Everyone is allowed to use cron
          echo '[*] Test cron:account'
          pamtester cron nobody acct_mgmt || exit 1
          echo -n $'\n'
          # Everyone is allowed to use atd
          echo '[*] Test atd:account'
          pamtester atd nobody acct_mgmt || exit 1
          echo -n $'\n'
          # Everyone is allowed to use su
          # TODO: Prompts for a password
          #pamtester su nobody authenticate || exit 1
          # Unknown services
          # TODO: authenticate & chauthtok
          echo '[*] Test nonexistent service'
          for operation in acct_mgmt open_session; do pamtester nonexistent nobody "${operation}" || exit 1; done
          echo "[*] grep '\bpam_unix(nonexistent:session):' /var/log/auth.log:"
          sudo grep '\bpam_unix(nonexistent:session):' /var/log/auth.log
          echo -n $'\n'
          # Login for random users
          echo '[*] Test login:account as nobody'
          pamtester login nobody acct_mgmt || exit 1
          echo "[*] Test login with empty password"
          sudo cp -v /etc/passwd /etc/passwd.bak
          sudo sed -i 's/^\(nobody:\)x\(:[0-9]\+:[0-9]\+:[^:]*:[^:]*:[^:]*\)$/\1\2/' /etc/passwd
          getent passwd nobody
          pamtester login nobody authenticate 0</dev/null
          echo "[*] grep '\bblank password' /var/log/auth.log:"
          sudo grep '\bblank password' /var/log/auth.log
          # Revert passwd
          sudo cp -v /etc/passwd.bak /etc/passwd
      - name: Run Ansible playbook for pam
        run: ansible-playbook harden.yml --tags pam --skip-tags slackware,centos
      - name: Test post-harden
        run: |
          # random users should not be able to use cron
          # enforced with pam_access
          echo '[*] Test cron:account as nobody'
          pamtester cron nobody acct_mgmt && { echo -e '[\033[1;31m-\033[0m] Test 1 failed' 1>&2; exit 1; }
          echo "[*] grep '\bpam_access(cron:account):' /var/log/auth.log:"
          sudo grep '\bpam_access(cron:account):' /var/log/auth.log
          echo -n $'\n'
          # root should still be able to use cron
          echo '[*] Test cron:account as root'
          pamtester cron root acct_mgmt || { echo -e '[\033[1;31m-\033[0m] Test 2 failed' 1>&2; exit 1; }
          echo -n $'\n'
          # random users should not be able to use atd
          # enforced with pam_access
          echo '[*] Test atd:account as nobody'
          pamtester atd nobody acct_mgmt && { echo -e '[\033[1;31m-\033[0m] Test 3 failed' 1>&2; exit 1; }
          echo "[*] grep '\bpam_access(atd:account):' /var/log/auth.log:"
          sudo grep '\bpam_access(atd:account):' /var/log/auth.log
          echo -n $'\n'
          # su shouldn't be allowed
          echo '[*] Test su:auth as nobody'
          pamtester su nobody authenticate && { echo -e '[\033[1;31m-\033[0m] Test 4 failed' 1>&2; exit 1; }
          echo "[*] grep '\bpam_unix(su:auth):' /var/log/auth.log:"
          sudo grep '\bpam_unix(su:auth):' /var/log/auth.log
          echo -n $'\n'
          # Unknown services should be denied by /etc/pam.d/other
          echo '[*] Test nonexistent service'
          for operation in authenticate acct_mgmt chauthtok open_session; do echo "[*] Testing nonexistent service operation ${operation}"; pamtester nonexistent nobody "${operation}" && exit 1; done; true
          echo "[*] grep '\bpam_warn(nonexistent:' /var/log/auth.log:"
          sudo grep '\bpam_warn(nonexistent:' /var/log/auth.log
          echo -n $'\n'
          # Random users should not be able to login
          echo '[*] Test login:account as nobody'
          pamtester login nobody acct_mgmt && { echo -e '[\033[1;31m-\033[0m] Test 5 failed' 1>&2; exit 1; } || true
          echo "[*] grep '\bpam_access(login:account):' /var/log/auth.log:"
          sudo grep '\bpam_access(login:account):' /var/log/auth.log
      - name: chmod /var/log/auth.log
        run: sudo chmod -c 644 /var/log/auth.log
      - name: Archive PAM configs and logs
        uses: actions/upload-artifact@v4
        with:
          name: pamtester
          path: |
            /var/log/auth.log
            /etc/pam.d/common-account
            /etc/pam.d/common-auth
            /etc/pam.d/common-password
            /etc/pam.d/common-session
            /etc/pam.d/common-session-noninteractive
            /etc/security/access.conf
            /etc/security/faillock.conf
            /etc/security/limits.conf
            /etc/security/limits.d
            /etc/security/namespace.conf
            /etc/passwdqc.conf
            /var/lib/pam/account
            /var/lib/pam/auth
            /var/lib/pam/password
            /var/lib/pam/seen
            /var/lib/pam/session
            /var/lib/pam/session-noninteractive
  libpamtest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install testing prerequisites
        run: sudo apt-get install -y libcmocka-dev libpam-wrapper libpam0g-dev libpamtest0-dev
      - name: Show PAM version
        run: apt-cache show libpam-modules
      - name: Compile test program
        run: pushd tests && make -f ../Makefile test && popd
      # This should fail as pam_matrix is not in use yet
      - name: Run tests - round 1
        # PAM_AUTH_ERR
        run: |
          tests/test -t 1 -r 7
          echo "[*] grep '\bauthentication failure' /var/log/auth.log:"
          sudo grep '\bauthentication failure' /var/log/auth.log
          echo -n $'\n'

          # This is tested against pam_unix
          echo "[*] Test login with empty password"
          sudo cp -v /etc/passwd /etc/passwd.bak
          sudo sed -i 's/^\(nobody:\)x\(:[0-9]\+:[0-9]\+:[^:]*:[^:]*:[^:]*\)$/\1\2/' /etc/passwd
          getent passwd nobody
          tests/test -t 9 -r 0
          echo "[*] grep '\bblank password' /var/log/auth.log:"
          sudo grep '\bblank password' /var/log/auth.log
          # Revert passwd
          sudo cp -v /etc/passwd.bak /etc/passwd
      - name: Prepare environment for testing
        run: ansible-playbook tests/pamtests.yml --tags setup
      - name: Run tests - round 2
        run: |
          # Show user
          id
          # Authentication should succeed against pam_matrix
          echo '[*] Test 1 - root login:auth'
          tests/test -t 1 -r 0
          echo -n $'\n'

          # pam_unix(login:account) should block as invalid user
          # This test should always succeed
          echo '[*] Test 2 - invalid account'
          tests/test -t 2
          echo "[*] grep '\bcould not identify user\b' /var/log/auth.log:"
          sudo grep '\bcould not identify user\b' /var/log/auth.log
          echo -n $'\n'

          # These will fail as a regular user with "unix_chkpwd[1550490]: could not obtain user info (root)"
          #echo '[*] Test 3'
          #tests/test -t 3 -r 2
          #echo '[*] Test 4'
          #tests/test -t 4 -r 2
          #echo '[*] Test 5'
          #tests/test -t 5 -r 2
          #echo '[*] Test 6'
          #tests/test -t 6 -r 2

          # Should work as root
          echo '[*] Test 3 - root login:account'
          sudo tests/test -t 3
          echo -n $'\n'

          echo '[*] Test 4 - root cron:account'
          sudo tests/test -t 4
          echo -n $'\n'

          # Nothing's preventing user nobody from using cron
          echo '[*] Test 5 - nobody cron:account'
          sudo tests/test -t 5 -r 0
          echo -n $'\n'

          # Nothing's preventing user nobody from authenticating
          echo '[*] Test 6-1 - nobody login:auth'
          sudo tests/test -t 6 -r 0
          echo -n $'\n'

          # Test pam_nologin
          # https://github.com/linux-pam/linux-pam/blob/master/modules/pam_nologin/pam_nologin.c
          sudo touch /etc/nologin
          echo '[*] Test 6-2 - nobody login:auth (nologin)'
          sudo tests/test -t 6 -r 7
          sudo rm -v /etc/nologin
          echo -n $'\n'

          # Anyone can use su
          echo '[*] Test 7 - nobody su:auth'
          tests/test -t 7 -r 0
          echo -n $'\n'

          echo '[*] Test 8 - root login:auth (wrong password)'
          # Wrong password
          # PAM_AUTH_ERR
          time tests/test -t 8 -r 7
      - name: Harden PAM
        run: |
          ansible-playbook harden.yml --tags pam --skip-tags slackware
          sudo pam-auth-update --enable access
          sudo pam-auth-update --disable polyinstantiation
          sudo pam-auth-update --disable lastlog
          # Disable faildelay to speed up things. We'll test faildelay later on it's own.
          sudo pam-auth-update --disable faildelay
          # Re-create common-auth-matrix
          sudo rm -v /etc/pam.d/common-auth-matrix
          ansible-playbook tests/pamtests.yml --tags setup
      - name: Run tests - post-harden
        run: |
          echo '[*] Test 2 - invalid account'
          tests/test -t 2
          echo -n $'\n'

          # Should be denied by pam_access
          # PAM_PERM_DENIED
          echo '[*] Test 5 - nobody cron:account'
          sudo tests/test -t 5 -r 6
          echo "[*] grep '\bpam_access(cron:account)' /var/log/auth.log:"
          sudo grep '\bpam_access(cron:account)' /var/log/auth.log
          echo -n $'\n'

          # Login for "nobody" was previously blocked by https://github.com/pyllyukko/harden.yml/blob/master/files/pam-configs/uid_ge_1000.new
          # Now it is handled in account phase by pam_access. So the authentication itself will succeed, but access is denied.
          #echo '[*] Test 6 - nobody login:auth'
          #sudo tests/test -t 6 -r 7
          # Use of su should be denied
          # PAM_PERM_DENIED
          echo '[*] Test 7-1 - nobody su:auth'
          tests/test -t 7 -r 6
          echo -n $'\n'

          # This should succeed because of pam_rootok
          echo '[*] Test 7-2 - nobody su:auth (as root)'
          sudo tests/test -t 7 -r 0
          echo -n $'\n'

          # Test failed login & pam_faillock
          # We need Sudo to be able to write to faillock
          #
          # Test that the login is initially working before faillock kicks in
          echo "[*] Test 1 - root login:auth with valid password before pam_faillock kicks in"
          sudo tests/test -t 1 -r 0
          # PAM_PERM_DENIED
          echo '[*] Test 8-1 - root login:auth (wrong password)'
          sudo tests/test -t 8 -r 6
          echo '[*] Test 8-2 - root login:auth (wrong password)'
          sudo tests/test -t 8 -r 6
          echo '[*] Test 8-3 - root login:auth (wrong password)'
          sudo tests/test -t 8 -r 6
          # Should be locked after 3 attempts
          # Return value will change from PAM_PERM_DENIED to PAM_AUTH_ERR from faillock preauth
          echo '[*] Content of /var/run/faillock/:'
          sudo ls -l /var/run/faillock/
          echo '[*] faillock --user root:'
          sudo faillock --user root
          echo '[*] grep pam_faillock /var/log/auth.log:'
          sudo gawk '/pam_faillock/ && $3!="sudo:"{print}' /var/log/auth.log
          # Test that root account is locked
          # PAM_AUTH_ERR
          echo '[*] Test 1 - root login:auth (with valid password and temporary lockout)'
          sudo tests/test -t 1 -r 7
          # Reset faillock
          sudo faillock --user root --reset
          echo -n $'\n'

          # Test pam_faildelay
          sudo pam-auth-update --enable faildelay
          sudo make /etc/pam.d/common-auth-matrix
          # Enable debug in pam_faildelay so we can see the log entries
          sudo sed -i 's/^\(auth\s\+optional\s\+pam_faildelay\.so\s\+delay=[0-9]\+\)$/\1 debug/' /etc/pam.d/common-auth-matrix
          echo '[*] Test 8-4 - faildelay - root login:auth (wrong password)'
          time sudo tests/test -t 8 -r 6
          echo '[*] grep pam_faildelay /var/log/auth.log'
          sudo grep '\bpam_faildelay(' /var/log/auth.log
          echo -n $'\n'

          # Test login with empty password
          echo "[*] Test login with empty password"
          # Disable pam_faildelay and pam_faillock so they won't affect return code
          sudo pam-auth-update --disable faillock
          sudo pam-auth-update --disable faildelay
          sudo make /etc/pam.d/common-auth-matrix
          sudo sed -i 's/^\(nobody:\)x\(:[0-9]\+:[0-9]\+:[^:]*:[^:]*:[^:]*\)$/\1\2/' /etc/passwd
          getent passwd nobody
          # Fix /etc/pam.d/login to use regular common-auth with pam_unix
          sudo sed -i 's/^\(@include\s\+common-auth\)-matrix$/\1/' /etc/pam.d/login
          tests/test -t 9 -r 7
          echo "[*] grep 'could not identify password' /var/log/auth.log:"
          sudo grep '\bcould not identify password' /var/log/auth.log
      - name: chmod /var/log/auth.log
        run: sudo chmod -c 644 /var/log/auth.log
      - name: Archive PAM configs and logs
        uses: actions/upload-artifact@v4
        with:
          name: libpamtest
          path: |
            /var/log/auth.log
            /etc/pam.d/common-account
            /etc/pam.d/common-auth
            /etc/pam.d/common-auth-matrix
            /etc/pam.d/common-password
            /etc/pam.d/common-session
            /etc/pam.d/common-session-noninteractive
            /etc/pam.d/login
            /etc/pam.d/su
            /etc/security/access.conf
            /etc/security/faillock.conf
            /etc/security/limits.conf
            /etc/security/limits.d
            /etc/security/namespace.conf
            /etc/passwdqc.conf
            /var/lib/pam/account
            /var/lib/pam/auth
            /var/lib/pam/password
            /var/lib/pam/seen
            /var/lib/pam/session
            /var/lib/pam/session-noninteractive
  # TODO: Not a complete list. Also Debian.
  upstream-changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download upstream PAM files
        run: |
          make pam-files
          wget -nv https://salsa.debian.org/ssh-team/openssh/-/raw/master/debian/openssh-server.sshd.pam.in -O pam-files/openssh-server.sshd.pam.in
      - name: Check upstream for changes
        run: |
          cat 0<<EOF | sha512sum -c
          0285899c74c51a968eddd920281972ce4c432f487fc19a4db94a4093621282d2059eeb276b00bdfecc2cd645c6a70f2d1da74d89277fd6186d3639a28e102c5e  pam-files/sshd
          1ee952e39eee796af335cfa69fbed69b51f76faf3a279a2526c9fdd89fb34216c19ad323e7ff97048c80567fd1bb625f384183c22bf0ea04041a25b365cef8a2  pam-files/xscreensaver
          25af00fb379de78d2807e1f291fcf6a44a097dc4bbbe4f5ef8cc54deccba69428e72ad32cae65fd2e2b0d29a0233513fecc033b99a207890e6fb9cd7d98f87c2  pam-files/chfn
          25af00fb379de78d2807e1f291fcf6a44a097dc4bbbe4f5ef8cc54deccba69428e72ad32cae65fd2e2b0d29a0233513fecc033b99a207890e6fb9cd7d98f87c2  pam-files/chsh
          7750b5480178346bdf856d83e3aecf637f9888380657d2fe863096959ebc02a5e52fbab08bad9c4ae9e1c4f257dbe1d155eef8dd8dc1b9ac178b90e0ada5b6cb  pam-files/runuser
          9b39d1238b4686cb17e04051e0b5f9a5bd264e7789c6cf5409d7ed5114de781d28fbc8a7457f1ea67664ec595313e2c49710ac1a2480dbc49ed3d6ccf91bb3e6  pam-files/runuser-l
          c4468029c85cf3346bb34c1ba6682e185b681569beefe2fa6bd6233b15cf9d4f37e916791f5b2d1385ba97f7d0287116b9f6e2a3e458ff2abcc68224c9e597f9  pam-files/login
          c4468029c85cf3346bb34c1ba6682e185b681569beefe2fa6bd6233b15cf9d4f37e916791f5b2d1385ba97f7d0287116b9f6e2a3e458ff2abcc68224c9e597f9  pam-files/remote
          7b9d8bd3702b285e7d914283515595546d6da628f18916d1e6bfcc4642e06fcefd085b8067c490fd6a5916e310139e533427982379f4318809f9bfe482151c62  pam-files/openssh-server.sshd.pam.in
          EOF
      - name: Archive pam-files
        uses: actions/upload-artifact@v4
        with:
          name: pam-files
          path: |
            pam-files/*
  limits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: getent passwd
        run: getent passwd
      - name: Test pam_limits R_LIMIT pre-harden
        run: |
          echo -e '#!/bin/bash\n/usr/bin/id' 1>test.sh
          ls -l test.sh
          sudo -u bin /bin/bash ./test.sh
      - name: Test pam_limits core dump pre-harden
        run: |
          cat /proc/sys/kernel/core_pattern
          sudo sysctl -w kernel.core_pattern=core
          make tests/segfault
          ulimit -c
          ulimit -c unlimited
          tests/segfault || true
          ls -l core
          rm -v core
      - name: Run Ansible playbook for pam
        run: ansible-playbook harden.yml --tags pam --skip-tags slackware,centos
      - name: Test pam_limits R_LIMIT
        run: |
          ls -l test.sh
          bash tests/limits.sh
      # We need to start new PAM session in order for the controls to take effect
      - name: Test pam_limits core dump
        run: |
          sudo sed -i 's/^\(session\s\+required\s\+pam_limits\.so\)$/\1 debug/' /etc/pam.d/sudo
          sudo -u runner bash tests/segfault.sh
          test -f core && false
          echo '[*] grep pam_limits /var/log/auth.log:'
          sudo grep '\bpam_limits(' /var/log/auth.log
      - name: Archive limits.conf
        uses: actions/upload-artifact@v4
        with:
          name: limits.conf
          path: |
            /etc/security/limits.conf
            /etc/security/limits.d
  polyinstantiation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Ansible playbook for pam
        run: ansible-playbook harden.yml --tags pam --skip-tags slackware,centos
      - name: Make sure polyinstantiation is enabled
        run: sudo pam-auth-update --enable polyinstantiation
      - name: Test polyinstantiation
        run: |
          sudo -u runner bash tests/polyinstantiation.sh
          sudo ls -l /tmp-inst/runner/test_file.txt
